table,
td,
th {
	border: 1px solid;
	padding: 10px;
}

table {
	width: 100%;
	border-collapse: collapse;
}
.App {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.header-nav {
	position: relative;
}
.header-home {
	position: absolute;
	top: 30px;
	left: 30px;
}
.storage-products {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.product-border {
	border: solid 1px black;
	border-radius: 10px;
	margin: 30px;
	padding: 30px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	background-color: aqua;
}
.product-name {
	margin: 0 0 10px 0;
	font-size: 30px;
}
.product-id {
	margin: 10px 0;
	font-size: 18px;
	text-align: left;
}
.home-bar {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 50px;
	width: 50%;
	height: 50%;
	background-color: gray;
	border-radius: 20px;
}
.home-title {
	font-size: 30px;
	margin: 20px;
}
.home-button {
	background: blue;
	border-radius: 10px;
	margin: 20px;
	padding: 20px;
	font-size: 18px;
	width: 33%;
}
.home-link {
	color: aliceblue;
	text-decoration-line: none;
}
.signUp-container {
	width: 50%;
	height: 50%;
	background-color: gray;
	border-radius: 20px;
	margin: 50px;
	padding: 30px;
}
.signup-label {
	width: 100px;
	display: inline;
}
.signup-input {
	margin: 0 0 10px 0;
}
.signup-form {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: center;
}
.login-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 50px;
	width: 50%;
	height: 50%;
	background-color: gray;
	border-radius: 20px;
}
.login-title {
	font-weight: bold;
	margin: 15px;
	font-size: 30px;
}
.login-input {
	margin: 15px;
	font-size: 20px;
}
.login-button {
	padding: 4px 20px;
	font-size: 22px;
	border-radius: 10px;
}
.storage-div {
	margin: 50px;
}
.storage-logout {
	margin: 0 0 0 50%;
}
.storage-link {
	text-decoration-line: none;
}
.meneger-div {
	margin: 50px;
}
